* {
    margin: 0%;
}

html, body {
    height: 100%;
}

.content {
    height: 100%;
}

header {
    background-color: rgb(0, 128, 0);
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: rgb(0, 0, 139);
    color: white;
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: auto;
}

.main-block {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: white;
    border: solid red;
    border-width: 0px 5px 5px 5px;
    padding: 20px;
}

.vl {
    border: 1px solid red;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.left-block {
    max-width: 200px;
    white-space: pre-line;
    padding-right: 10px;
}

.hl {
    border-bottom: 3.5px solid red;
    width: 600px;
    margin-left: -20px;
}

.middle-block {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-bottom: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    padding-top: 10px;
    text-align: justify;
}

p::selection {
    background-color: red;
}

.right-block {
    padding: 10px;
    max-width: 200px;
}

ul {
    margin-left: -10px;
    list-style: none;
}

li {
    padding-bottom: 10px;
}

li:hover {
    background-color: red;
}

@media screen and (max-width: 1200px) {
    .middle-block {
        display: none;
    }

    .main-block {
        min-width: fit-content;
        max-width: fit-content;
    }
}
